@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(bg.svg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root,
body,
html {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .timeline-container {
        margin-left: 200px;
    }

    .timeline-container div {
        font-size: 0.9rem;
    }

    .back {
        position: absolute;
        width: 180px;
        margin-left: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .timeline-container {
        margin-left: 400px;
    }

    .title {
        display: inline-block;
        margin-left: 90px;
        width: 360px;
    }

    .back {
        position: absolute;
        width: 180px;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
    .timeline-container {
        margin-left: 100px;
    }
    .back {
        position: absolute;
        width: 180px;
        margin-left: 120px;
    }
}
